@import "../variables";

.cardGallery {
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 0;
  border: none;
  position: relative;
  .openVisor {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    img {
      width: 30px;
      transition: all 0.5s;
    }
  }
  .imageCardGallery {
    figure {
      aspect-ratio: 1/1;
      margin: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.5s;
      }
    }
  }
  .textCardGallery {
    height: 50px;
    background-color: $darkGreyTrans;
    transition: all 0.5s;
    h2 {
      font-size: 1.25rem;
      line-height: 50px;
      color: white;
      margin: 0;
      padding: 0 20px;
    }
  }
  &:hover {
    img {
      transform: scale(1.2);
    }
    .textCardGallery {
      transform: translateY(-50px);
    }
  }
}
